ol li{
    float: right;
    padding: 9px;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
    font-size: x-large;
}
ul li{
    font-size: x-large;
    float: left;
    padding: 9px;
    margin: auto;
    overflow: hidden;
    list-style-type: none;


}
h1{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p1,p4{
    color: blue;
}
p2,p6{
    color: red;
}
p3{
    color: yellow;
}
p5{
    color: green;
}