.cls1 {grid-area: header;}
.cls2 {grid-area: main;}
.cls3 {grid-area: menu;}
.cls4 {grid-area: right;}
.cls5 {grid-area: footer;}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main main menu right'
    'footer footer footer footer footer footer';
gap:6px;
background-color: gray;
padding: 6px;
}
.grid-container >div{
    background-color: antiquewhite;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

